{% extends "layout.html" %}
{% block title %}About Remindster{% endblock %}
{% block body %}
  <h2>About</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <h4>Welcome to Remindster!</h4>
Ever wanted to save a quick note, but didn't have a paper or pencil in handy? Well, we've created an app just for you!
Remindster is an app just for anyone who loves jotting down notes whenever needed. You can write anything! From song
lyrics that you want to remember, to your next grocery list, to resturants you want to try out. We love list lovers!
Write down your to do's for the day. Want to get yourself organized? we're here to help! Sign up today and start organizing!
<br>
<hr>


{% endblock %}